* {
    margin: 0;
    padding: 0;
}
html, body {
    scroll-behavior: smooth;
}

/* 
MARK: - DESIGN FOR MOBILE DEVICES
*/
nav  {
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-color: #1f1b1b;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    letter-spacing: 0.04em;
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline-block;
    margin: 30px 14px 0 0;
}
li a {
    color: #fff;
    text-decoration: none; 
}

h2 {
    font-family: 'Raleway', sans-serif;
}

.navLinks a:hover{
    color: #8e8e8e;
    transition: 400ms;
}

.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.divWelcome {
    height: 400px;
    padding-top: 50px;
}
.divWelcome1 {
    text-align: center;
    font-size: 22px;
    padding: 0;
    margin: 0;
    display: none;

}
.divWelcome2 {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.my-bitmoji {
    margin-top: 30px;
    height: 192px;
    width: 192px;
    box-shadow: 3px 3px #adadad;
}

.divAbout {
    height: 650px;
    margin-top: 45px;
    background-color: #0096e1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.divAbout #aboutMe {
    margin: 25px 25px;
    padding-top: 10px;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.04em;
}
.divAboutContent {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
#imgMonitor, #imgMobile {
    width: 148px;
    height: 148px;
}
table, th, td {
    border: 1px solid #0096e1;
    border-collapse: collapse;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    text-align: center;
}

.divProjects {
    height: 1500px;
    margin-top: -65px;
    background-color: #005884;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.divProjects #projectsTitle {
    text-align: right;
    margin: 25px 25px 0 0;
    padding-top: 10px;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.04em;
}
.divProjectsContent {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.project1 {
    margin-top: 40px;
    height: 600px;
    width: 300px;
    display: inline-block;
    border: 1px solid black;
}
.project1 #onlynoteimg {
    padding-top: 10px;
    max-width: 60%;
}

.project1info {
    padding-top: 20px;
}
#onlynoteplaybadge {
    max-width: 35%;
}

.project2 {
    margin-top: 40px;
    padding-top: 40px;
    height: 600px;
    width: 300px;
    display: inline-block;
    border: 1px solid black;

}

.project2 #newproject {
    margin-top: 10px;
    max-width: 60%;

}
.project2info {
    padding-top: 20px;
}


.divContact {
    height: 150px;
    background-color: #1f1b1b;
    color: #fff;
    text-align: center;
    border-top: 0.5px solid #e0e1e2;
}
.divContact #contact {
    text-align: center;
    padding-top: 20px;
    letter-spacing: 0.04em;

}
.divSocial {
    margin-top: 20px;

}
.divSocial a {
    color: #fff;
    text-decoration: none;
    margin: 7px;
    letter-spacing: 0.04em;

}


/* 
MARK: - DESIGN FOR TABLET DEVICES
*/

@media only screen and (min-width: 768px) {

    nav  {
        padding: 0;
        margin: 0;
        font-size: 20px;
        background-color: #1f1b1b;
        font-family: 'Roboto', sans-serif;
        height: 80px;
        letter-spacing: 0.04em;
    }
    ul {
        list-style-type: none;
        text-align: right;
        padding-right: 10px;
    }
    li {
        display: inline-block;
        margin: 30px 14px 0 0;
    }
    li a {
        color: #fff;
        text-decoration: none;
        padding-right: 20px;
        margin: 20px;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
    }

    .divWelcome {
        height: 480px;
        padding-top: 50px;

    }
    .divWelcome1 {
        margin: 0;
        text-align: center;
        font-size: 26px;
        padding: 10px;
        display: none;

    }
    .divWelcome2 {
        text-align: center;
        font-size: 22px;
        margin-top: 20px;
        padding: 10px;
    }
    .my-bitmoji {
        margin-top: 60px;
        height: 224px;
        width: 224px;
        box-shadow: 3px 3px #adadad;
    }


    .divAbout {
        height: 780px;
        margin-top: 45px;
        background-color: #0096e1;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .divAbout #aboutMe {
        margin: 25px 25px;
        padding-top: 10px;
        font-size: 26px;
        color: #fff;
        letter-spacing: 0.04em;
    }
    .divAboutContent {
        margin: 5px;
        padding: 10px;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    .divAboutContent p {
        margin-top: 15px;
    }
    #imgMonitor, #imgMobile {
        width: 192px;
        height: 192px;
    }
    table, th, td {
        border: 1px solid #0096e1;
        border-collapse: collapse;
        border-radius: 15px;
        margin: 0 auto;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .divProjects {
        height: 2000px;
        margin-top: -65px;
        background-color: #005884;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .divProjects #projects {
        text-align: right;
        margin: 25px 25px 0 0;
        padding-top: 10px;
        font-size: 26px;
        color: #fff;
        letter-spacing: 0.04em;
    }
    .divProjectsContent {
        margin: 5px;
        padding: 10px;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    .project1 {
        margin-top: 50px;
        height: 900px;
        width: 500px;
        display: inline-block;
    }
    .project1 #onlynoteimg {
        padding-top: 40px;
        max-width: 70%;
    }
    #onlynoteplaybadge {
        max-width: 45%;
    }

    .project2 {
        margin-top: 50px;
        height: 900px;
        width: 500px;
        display: inline-block;
    }
    .project1 #newproject {
        padding-top: 40px;
        max-width: 70%;
    }

    .divContact {
        height: 170px;
        background-color: #1f1b1b;
        color: #fff;
        text-align: center;
        border-top: 0.5px solid #e0e1e2;
    }
    .divContact #contact {
        text-align: center;
        padding-top: 20px;
        letter-spacing: 0.04em;
        font-size: 26px;
    }
    .divSocial {
        margin-top: 20px;
        font-size: 20px;
    }
    .divSocial a {
        color: #fff;
        text-decoration: none;
        margin: 7px;
        letter-spacing: 0.04em;
    
    }
}


/* 
MARK: - DESIGN FOR DESKTOP DEVICES
*/

@media only screen and (min-width: 1024px) {

    body, html {
        height: 100%;
      }
      

    nav  {
        padding: 0;
        margin: 0;
        font-size: 20px;
        background-color: #1f1b1b;
        font-family: 'Roboto', sans-serif;
        height: 80px;
        letter-spacing: 0.04em;
    }
    ul {
        list-style-type: none;
        text-align: right;
        padding-right: 10px;
    }
    li {
        display: inline-block;
        margin: 30px 14px 0 0;
    }
    li a {
        color: #fff;
        text-decoration: none;
        padding-right: 20px;
        margin: 20px;
    }

    nav a:hover{
        color: #8e8e8e;
        transition: 400ms;
    }


    .divWelcome {
        height: 100%;
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        animation: fadein 3s;

    }


    .divWelcome1 {
        margin: 0;
        padding: 0;
        font-size: 26px;
        width: 50%;
        height: 900px;
        display: flex;
        align-items: center;
        border-bottom-right-radius: 25px;
    }

    .divWelcome1 #timeGreeting {
        padding-left: 100px;
        font-family: 'Anton', sans-serif;
        font-size: 88px;
        color: white;
        text-shadow: 1px 1px lightgray;
        text-align: left;
        display: initial;
    }


    .divWelcome2 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 22px;
        width: 50%;
        height: 900px;
    }
    .divWelcome2 p {
        padding: 100px 30px 20px 30px;
    }
    .divWelcome2 #name {
        font-size: 30px;
    }
    .my-bitmoji {
        margin-top: 50px;
    }



    .divAbout {
        height: 1500px;
        margin: 0;
        background-color: #fff;
        color: #000;
        border: 1px solid black;
        border-radius: 0px;
    }
    .divAbout #aboutMe {
        font-size: 42px;
        padding: 70px 0 30px 50px;
        margin: 0;
        font-family: 'Raleway', sans-serif; 
        color: #000;
        border: 1px solid black;

    }



    .divAboutContent {
        margin: 0;
        padding-top: 80px;
        color: #000;
        border: 1px solid black;
        height: 1100px; 
    }
    /* Left Side */

    .divAboutInfo {
        margin: 0;
        padding: 10px;
        border: 1px solid black;
        height: 500px;
        
    }
    .divAboutInfoContent {
        border: 1px solid black;
        padding: 10px;
        height: 450px;
        width: 500px;
        float: left;
        border-radius: 25px;
    }
    .divAboutInfoContent p{
        padding-top: 20px;
    }


    /* Right Side */
    .divTable {
        margin: 30px 0 0 0;
        padding: 10px;
        border: 1px solid black;
        height: 500px;
    }    
    .divTableContent {
        border: 1px solid black;
        padding: 10px;
        width: 700px;
        float: right;
        border-radius: 25px;

    }
    #imgMonitor, #imgMobile {
        width: 192px;
        height: 192px;
    }
    table {
        margin-top: 30px;
    }
    table,td,th,tr {
        color: #000;
        border: none;
        border-collapse: none;
    }


    .divProjects {
        height: 2400px;
        border: 1px solid black;
        border-radius: 0px;

        margin: 0;
    }
    .divProjects #projectsTitle {
        font-size: 42px;
        padding: 35px 35px;
        font-family: 'Raleway', sans-serif; 
    }

    .project1 {
        width: 1000px;
    }
    .project1img {
        width: 50%;
        float: left;
    }
    .project1info {
        width: 50%;
        float: right;
        padding-top: 25%;
    }
    
    .project2 {
        width: 1000px;
    }
    .project2img {
        width: 50%;
        float: right;
    }
    .project2info {
        width: 50%;
        float: left;
        padding-top: 25%;
    }



    .divContact {
        height: 250px;
        background-color: #1f1b1b;
        color: #fff;
        text-align: center;
        border-top: 0.5px solid #e0e1e2;
    }
    .divSocial {
        margin-top: 70px;
        font-size: 20px;
        font-family: Arial;
    }
    .divSocial a:hover {
        color: #8e8e8e;
        transition: 400ms;
    }



}


